* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

window#waybar:hover {
    opacity: 1;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    border-bottom: 3px solid #ffffff;
}

#clock, #pulseaudio, #network, #cpu, #memory, #battery, #tray {
    padding: 0 10px;
}
