configuration {
    modi: "drun,run,filebrowser";
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

* {
    background-color: #1a1b26;
    foreground-color: #c0caf5;
    border-color: #33ccff;
    selected-normal-background: #33ccff;
    selected-normal-foreground: #1a1b26;
    active-normal-foreground: #33ccff;
}
