configuration {
    modi: "drun,run,filebrowser";
    font: "JetBrainsMono Nerd Font 12";
    show-icons: true;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

* {
    background-color: rgba(10, 10, 15, 0.98);
    foreground-color: #aaaaaa;
    border-color: #ff8800;
    selected-normal-background: #ff8800;
    selected-normal-foreground: #0a0a0f;
    active-normal-foreground: #ff8800;
}
